<div class="row">
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header card-header-info" data-header-animation="true">
        <div class="ct-chart" id="completedTasksChart"></div>
      </div>
      <div class="card-body">
        <div class="card-actions">
          <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom"
                  title="Refresh">
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <h4 class="card-title">Прогресс голосования <span>28%</span></h4>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> обновлено 5 минут назад
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header card-header-success" data-header-animation="true">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <div class="card-actions">
          <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom"
                  title="Refresh">
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <h4 class="card-title">Прогресс выступлений </h4>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons"></i>
        </div>
        <h4 class="card-title">Страны участники</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="table-responsive table-sales">
              <table class="table">
                <tbody>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/US.png"></div>
                  </td>
                  <td>USA</td>
                  <td class="text-right">
                    2.920
                  </td>
                  <td class="text-right">
                    53.23%
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/DE.png"></div>
                  </td>
                  <td>Germany</td>
                  <td class="text-right">
                    1.300
                  </td>
                  <td class="text-right">
                    20.43%
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/AU.png">
                    </div>
                  </td>
                  <td>Australia</td>
                  <td class="text-right">
                    760
                  </td>
                  <td class="text-right">
                    10.35%
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/GB.png"></div>
                  </td>
                  <td>United Kingdom</td>
                  <td class="text-right">
                    690
                  </td>
                  <td class="text-right">
                    7.87%
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/RO.png">
                    </div>
                  </td>
                  <td>Romania</td>
                  <td class="text-right">
                    600
                  </td>
                  <td class="text-right">
                    5.94%
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flag">
                      <img src="/assets/img/flags/BR.png"></div>
                  </td>
                  <td>Brasil</td>
                  <td class="text-right">
                    550
                  </td>
                  <td class="text-right">
                    4.34%
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <div id="worldMap" style="height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">weekend</i>
        </div>
        <p class="card-category">Зрителей</p>
        <h3 class="card-title">750 000</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> +1520 </span> за последние 5 минут
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Стран</p>
        <h3 class="card-title">15</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">equalizer</i>
        </div>
        <p class="card-category">Городов</p>
        <h3 class="card-title">75</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Участников</p>
        <h3 class="card-title">245</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    //init wizard
    demo.initMaterialWizard();
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
    demo.initCharts();
    demo.initVectorMap();

    document.querySelector('#exitButton').addEventListener('click', function () {
      logout();
    });
  });
</script>
